{% extends 'sixth_app/base.html' %}
{% load static %}

{% block body_block %}

  <div class="jumbotron" align='center'>
    {% if registered %}
      <h1>Thanks for registering</h1>
    {% else %}
      <h3>Register here</h3>
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ user_form.as_p }}
        {{ profile_form.as_p }}
        <button type="submit" name="button" class = 'btn btn-primary'>Register</button>
      </form>
    {% endif %}
  </div>

{% endblock %}
